
$off-white: #faebd7;
$dark-gray: #545454;
$light-gray: #e9e9e9;
$med-gray: #939393;
$dark: #172A3A;
$light: #74B3CE;
$purple: #656176;
$bright-blue: #2A93BC;
$bright-green: #00C549;
$header-font: 'Allan', cursive;
$body-font: 'Lato', sans-serif;


@keyframes twinkle-twinkle {
  from {background-position:0, 0;}
  to {background-position:-10000px 5000px}
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

* {
  font-family: $body-font;
}
body {
  margin: 0;
  flex-direction: column;
  font-size: 16px;
  padding-top: 500px;
}

header {
  height: 500px;
  text-align: center;
  display: flex;
  color: $light-gray;
  background: black url('../../images/stars2.png') repeat top center;
  z-index:0;
  flex-direction: column;

  .profile {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }

  .twinkling {
    background: transparent url('../../images/twinkling.png') repeat top center;
    z-index:1;
    animation: twinkle-twinkle 200s linear infinite;
    display: flex;
    flex-direction: column;
  }

  .descrip {
    font-weight: 300;
  }

  h1 {
    font-size: 5rem;
    font-family: $header-font;
    background: -webkit-linear-gradient(white, $dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .hero-text {
    margin: auto;
  }
  .location a {
    color: $bright-blue;
    text-decoration: none;
    font-size: 2rem;

    i {
      padding: 0 10px;
    }
  }
}

.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  width:100%;
  display:block;
}

.main-nav {
  background: $off-white;
  height: 80px;
  display: flex;
  z-index: 150;
  box-shadow: 0 6px 5px $med-gray;
  margin-bottom: -80px;

  :not(:last-child) {
      border-right: 1px solid $dark;
    }

  .nav-links {
    margin: auto;
  }

  a {
    padding: 0 30px;
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: 400;
    color: $dark;

    &:hover {
      border-bottom: 3px dotted $dark;
    }
  }
}
.main-nav, main {
  position: relative;
}
.main-nav-scrolled, header {
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  background: url('../../images/cream_dust.png') repeat 0 0;
  padding: 110px 50px 50px;

  .down-arrow {
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
    color: $dark;
  }

  section {
    height: 100vh;
    display: block;
    margin: 10vh 0;
    border-radius: 10px;
  }

  .about {

  .about-greet {
    text-align: center;
    color: $dark;
    padding-bottom: 7rem;
  }

  .about-words {
    color: $dark;
    }
  }

.projects {
    h1 {
      padding: 3rem 0;
    }
  }

  .move-carousel {
      font-size: 3rem;
    }
}

.contact {
  display: flex;
  background-image: radial-gradient(white, $dark);

  .call-to-action {
    width: 40%;
    text-align: center;
    margin: auto;
    color: $dark;
    font-family: $header-font;
  }
  .contact-nav a{
    font-size: 3rem;
    padding: 10px;
  }

}

.project-links {
  position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: $dark-gray;
    height: 100%;
    width: 100%;

    p {
      width: 85%;
      margin: 10px auto;
    }

    a {
      font-size: 3rem;
      padding: 0 10px;
      color: $bright-blue;

      :hover {
        color: white;
      }
    }

    &:hover {
      opacity: 0.95;
    }
  }

  .proj-image {
    width:389px;
    height:300px;
  }

@media only screen and (max-device-width: 480px) {
    body {
      padding-top: 1200px;
    }
    header {
      height: 1200px;

      .profile {
        width: 45rem;
        height: 45rem;
      }

      h1 {
        font-size: 13rem;

      }
      h2 {
        font-size: 4rem;
      }
      .location a {
        font-size: 5rem;
      }
    }
    .main-nav {
      height: 100px;
      margin-bottom: -100px;
      a {
        font-size: 4rem;
      }
    }
    main {
      .down-arrow {
        font-size: 8rem;
      }
      .about {
        .about-greet {
          h1 {
            font-size: 7rem;
          }
        }
        .about-words {
          color: $dark;
          font-size: 2.5rem;
          }
        }
      section {
        height: 80vh;
      }
    .projects {
        h1 {
          font-size: 12rem;
          margin-top: 5rem;
        }
        .proj-title {
          font-size: 5rem;
        }
        .proj-nav {
          padding-bottom: 12rem;
        }
        .move-carousel {
          font-size: 6rem;
        }
      }
    .contact {
      padding-bottom: 10vh;

      .call-to-action {
        width: 70%;
        h1 {
          font-size: 10rem;
        }
        p {
          font-size: 3rem;
        }
      }
      .contact-nav a{
        font-size: 7rem;
      }

    }
  }
  .overlay {
    p {
      width: 95%;
      font-size: 1.7rem;
      margin: 10px auto 0;
    }

    a {
      font-size: 4rem;
    }
  }
}



