* {
  font-family: 'Cantarell', sans-serif; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-top: 550px; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  height: 550px;
  text-align: center;
  display: flex;
  background-image: url("../../images/mountain.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  font-color: #172A3A; }
  header h1 {
    font-size: 5rem;
    font-family: 'Fjalla One', sans-serif; }
  header h2 {
    font-size: 2.5rem; }
  header .hero-text {
    margin: auto; }
  header .location a {
    color: white;
    text-decoration: none;
    font-size: 2rem; }
    header .location a i {
      padding: 0 10px; }

.main-nav {
  background: #faebd7;
  height: 80px;
  display: flex;
  z-index: 150;
  box-shadow: 0 6px 5px #545454;
  margin-bottom: -80px; }
  .main-nav :not(:last-child) {
    border-right: 1px solid #172A3A; }
  .main-nav .nav-links {
    margin: auto; }
  .main-nav a {
    padding: 0 30px;
    font-size: 1.75rem;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    color: #172A3A; }
    .main-nav a:hover {
      border-bottom: 3px dotted #172A3A; }

.main-nav, main {
  position: relative; }

.main-nav-scrolled, header {
  position: fixed;
  top: 0;
  width: 100%; }

main {
  background-color: #656176;
  padding: 110px 50px 50px; }
  main .down-arrow {
    text-align: center;
    font-size: 4rem;
    padding: 4rem;
    color: #faebd7; }

.about img {
  width: 100%; }

.about .about-greet {
  text-align: center;
  color: #faebd7;
  padding-bottom: 7rem; }

.about .code-icon {
  text-align: center;
  padding: 5rem 0;
  font-size: 10rem;
  color: #faebd7; }

.about .about-words {
  background-color: white;
  opacity: 0.4;
  border-radius: 10px; }
  .about .about-words p {
    padding: 5px; }
