@font-face {
  font-family: Variane;
  src: url("../../fonts/Variane_Script.ttf"); }

@keyframes twinkle-twinkle {
  from {
    background-position: 0, 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  font-family: "Lato", sans-serif; }

body {
  margin: 0;
  flex-direction: column;
  font-size: 16px;
  padding-top: 500px; }

header {
  height: 500px;
  text-align: center;
  display: flex;
  color: #e9e9e9;
  background: black url("../../images/stars2.png") repeat top center;
  z-index: 0;
  flex-direction: column; }
  header .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite; }
  header .twinkling {
    background: transparent url("../../images/twinkling.png") repeat top center;
    z-index: 1;
    animation: twinkle-twinkle 200s linear infinite;
    display: flex;
    flex-direction: column; }
  header .descrip {
    font-weight: 300; }
  header h1 {
    font-size: 15rem;
    color: #faebd7;
    font-family: "Variane", cursive; }
  header h2 {
    font-size: 2.5rem;
    font-weight: 300; }
  header .hero-text {
    margin: auto; }
  header .location a {
    color: #2A93BC;
    text-decoration: none;
    font-size: 2rem; }
    header .location a i {
      padding: 0 10px; }

.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block; }

.main-nav {
  background: #faebd7;
  height: 80px;
  display: flex;
  z-index: 150;
  box-shadow: 0 6px 5px #939393;
  margin-bottom: -80px; }
  .main-nav :not(:last-child) {
    border-right: 1px solid #172A3A; }
  .main-nav .nav-links {
    margin: auto; }
  .main-nav a {
    padding: 0 30px;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 400;
    color: #172A3A; }
    .main-nav a:hover {
      border-bottom: 3px dotted #172A3A; }

.main-nav, main {
  position: relative; }

.main-nav-scrolled, header {
  position: fixed;
  top: 0;
  width: 100%; }

main {
  background: url("../../images/cream_dust.png") repeat 0 0;
  padding: 110px 50px 50px; }
  main .down-arrow {
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
    color: #172A3A; }
  main section {
    height: 100vh;
    display: block;
    margin: 10vh 0;
    border-radius: 10px; }
  main .about .profile {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-bottom: 10px; }
  main .about .about-greet {
    text-align: center;
    color: #172A3A; }
  main .about .about-words {
    color: #172A3A;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 7rem; }
  main .projects h1 {
    padding-top: 9rem; }
  main .move-carousel {
    font-size: 3rem; }

.contact {
  margin-top: 40vh;
  display: flex;
  background-image: radial-gradient(white, #172A3A); }
  .contact h1 {
    font-size: 5rem; }
  .contact .call-to-action {
    width: 40%;
    text-align: center;
    margin: auto;
    color: #172A3A;
    font-family: "Variane", cursive;
    font-size: 2rem;
    font-weight: 100; }
  .contact .contact-nav a {
    font-size: 4rem;
    padding: 10px; }

.project-links {
  position: relative; }

.overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  background-color: #545454;
  height: 100%;
  width: 100%; }
  .overlay p {
    width: 85%;
    margin: 10px auto; }
  .overlay a {
    font-size: 3rem;
    padding: 0 10px;
    color: #2A93BC; }
    .overlay a :hover {
      color: white; }
  .overlay:hover {
    opacity: 0.95; }

.proj-image {
  width: 389px;
  height: 300px; }

@media only screen and (max-device-width: 480px) {
  body {
    padding-top: 1200px; }
  header {
    height: 1200px; }
    header .profile {
      width: 45rem;
      height: 45rem; }
    header h1 {
      font-size: 13rem; }
    header h2 {
      font-size: 4rem; }
    header .location a {
      font-size: 5rem; }
  .main-nav {
    height: 100px;
    margin-bottom: -100px; }
    .main-nav a {
      font-size: 4rem; }
  main .down-arrow {
    font-size: 8rem; }
  main .about .about-greet h1 {
    font-size: 7rem; }
  main .about .about-words {
    color: #172A3A;
    font-size: 2.5rem; }
  main section {
    height: 80vh; }
  main .projects h1 {
    font-size: 12rem;
    margin-top: 5rem; }
  main .projects .proj-title {
    font-size: 5rem; }
  main .projects .proj-nav {
    padding-bottom: 12rem; }
  main .projects .move-carousel {
    font-size: 6rem; }
  .overlay p {
    width: 95%;
    font-size: 1.7rem;
    margin: 10px auto 0; }
  .overlay a {
    font-size: 4rem; } }
